@use "global" as *;

.p-voice {
  padding: rem(88) 0 rem(56);
  background-image: url(/images/common/voice-bg-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(md) {
    padding: rem(96) 0;
    background-image: url(/images/common/voice-bg-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.p-voice__contents {
  margin-top: rem(40);
}

.p-voice__items {
  margin-top: rem(40);
}


.p-voice__item {

  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.p-voice__item:nth-child(n+1) {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-voice__item:nth-child(even) {

  @include mq(md) {
    flex-direction: row-reverse;
    padding-left: 0;
  }
}

.p-p-voice__img {
  position: relative;

  @include mq(md) {
    width: rem(450);
    max-width: 100%;
  }
}

.p-p-voice__img::before {
  display: block;
  content: "";
  padding-top: calc(223 / 335) * 100%
}

.p-p-voice__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-voice__content {
  margin-top: rem(24);

  @include mq(md) {
    width: rem(539);
    max-width: 100%;
    margin-top: 0;
  }
}

.p-voice__content-title {
  color: #8B6C3A;
  font-size: rem(18);
  letter-spacing: 0.05em;
  line-height: calc(27 / 18);

  @include mq(md) {
    font-size: rem(24);
    letter-spacing: 0.1em;
    line-height: calc(36/24);
  }
}


.p-voice__content-subtext {
  margin-top: rem(12);
  font-size: rem(14);
  letter-spacing: 0.05em;
  line-height: calc(21 / 14);

  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(16);
    line-height: calc(24/16);
  }
}

.p-voice__content-text {
  margin-top: rem(12);
  font-size: rem(16);
  letter-spacing: 0.02em;
  line-height: calc(28.8 / 16);

  @include mq(md) {
    margin-top: rem(24);
    letter-spacing: 0.05em;
    line-height: 2;
  }
}